<html>
<meta charset="utf-8">
<meta name="description" content="CMPE280Sanjeevani : Chart based EHR data representation">
<meta name="keywords" content="CMPE280Sanjeevani, Sanjeevani, EHR data, CMPE 280, CMPE280, SJSU">
<meta name="author" content="Team Ciphers : Maithili Gole, Nishanth PrabhuSwamy, Sameer Ranade, Sowmya Prakash">
<head>
  <title>CMPE280Sanjeevani</title>
  <link rel="stylesheet" href="/stylesheets/css/patient_details.css" type="text/css">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" data-bablic="5733c6f443e0b3bf17b4c1ea" data-bablic-m="['1463011073','en','en',1,['hi'],0,0,0,0,0,0,0,0,[],'cmpe280sanjeevani.com',[],['_v',2]]" src="//cdn2.bablic.com/js/bablic.3.3.js"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<style type="text/css">
  .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node {
  font: 10px sans-serif;
}

.offset{
  position: relative !important;
  padding-top: 40px !important;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
h1{
  text-align: center;
  color: #005A98;
}
h4{
  position: relative;
  color: #005A98;
  padding-left: 200px;
}
.row{
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
}
.vaccination_chart {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 40px;
  position: relative;
}
img{
  height: 100px !important;
  width: 150px !important;
}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

</style>

<title>Doctor Summary Details</title>

<script type="text/javascript">
$(function () {
    // Age categories
    var categories = ['0-4', '5-9', '10-14', '15-19',
            '20-24', '25-29', '30-34', '35-39', '40-44',
            '45-49', '50-54', '55-59', '60-64', '65-69',
            '70-74', '75-79', '80-84', '85-89', '90-94',
            '95-99', '100 + '];
    $(document).ready(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Population of the patients under Doctor'
            },
            xAxis: [{
                categories: categories,
                reversed: false,
                labels: {
                    step: 1
                }
            }, { // mirror axis on right side
                opposite: true,
                reversed: false,
                categories: categories,
                linkedTo: 0,
                labels: {
                    step: 1
                }
            }],
            yAxis: {
                title: {
                    text: null
                },
                labels: {
                    formatter: function () {
                        return Math.abs(this.value) + '%';
                    }
                }
            },

            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + ', age ' + this.point.category ;
                }
            },

            series: [{
                name: 'Male',
                data: [-2.2, -2.2, -2.3, -2.5, -2.7, -3.1, -3.2,
                     -0.2, -0.0, -0.0]
            }, {
                name: 'Female',
                data: [2.1, 2.0, 2.2, 2.4, 2.6, 3.0, 3.1, 2.9,
                     1.2, 0.6, 0.1, 0.0]
            }]
        });
    });

});
</script>

<script type="text/javascript">
window.onload=function(){
var radius = 600 / 2;

var cluster = d3.layout.cluster()
    .size([360, radius - 120]);

var diagonal = d3.svg.diagonal.radial()
    .projection(function (d) {
    return [d.y, d.x / 180 * Math.PI];
});

var svg = d3.select("#cluster_chart").append("svg")
    .attr("width", radius * 2)
    .attr("height", radius * 2)
    .append("g")
    .attr("transform", "translate(" + radius + "," + radius + ")");
var data = {
    "name": "diseases",
        "children": [{
        "name": "Coronary artery disease",
            "children": [{
            "name": "Inflamed blood vessels",
            "size": 1600
            }, {
            "name": "Internal blood clots",
            "size": 1600
          },
          {
            "name": "Anxiety",
            "size": 1600
          },
          {
            "name": "Hypertension",
            "size": 1600
        }]
    },
     {
        "name": "Hole in heart (Hole in Septum)",
            "children": [{
            "name": "atrial septal defect: (ASD)",
                "size": 1600
        }, {
            "name": "Ventricular septal defect: (VSD)",
                "size": 1600
        }]
    }, {
        "name": "Pericarditis",
            "children": [{
            "name": "Chest pain",
                "size": 1600
        }, {
            "name": "Persistent low grade fever",
                "size": 1600
        }, {
            "name": "Cancer",
                "size": 600
        }, {
            "name": "Shortness of breath",
                "size": 1600
        }]
    }, {
        "name": "Aorta Disease   ",
            "children": [{
            "name": "Atheroscelorosis",
                "size": 1600
        }]
    }, {
        "name": "Vascular Disease",
            "children": [{
            "name": "Atheroscelorotic plaques",
                "size": 1600
        }, {
            "name": "Dislodged thrombus",
                "size": 1600
        }, {
            "name": "Aneurysm rupture",
                "size": 1600
        }]
    }, {
        "name": "Abnormal Heart rhythms",
            "children": [{
            "name": "A faster heartbeat",
                "size": 1600
        }, {
            "name": "Shortness of breath",
                "size": 600
        }, {
            "name": "Nausea",
                "size": 1600
        }, {
            "name": "Sweating",
                "size": 1600
        }]
    }, {
        "name": "Heart Failure",
            "children": [{
            "name": "Cardiomyopathy",
                "size": 1600
        }, {
            "name": "Heart Attack",
                "size": 1600
        }, {
            "name": "Myocordial Infarction",
                "size": 1600
        }]
    }, {
        "name": "Heart Muscle Disease",
            "children": [{
            "name": "Coronoary Artery Disease"
        }, {
            "name": "Congenital Heart Disease"
        }, {
            "name": "Increased hunger",
        }, {
            "name": "Dialated Cardiomyopathy",
                "size": 1600
        }]
    }]
};

function update(root) {
    var nodes = cluster.nodes(root);
    svg.selectAll("path.link").remove();
    svg.selectAll("g.node").remove();
    var link = svg.selectAll("path.link")
        .data(cluster.links(nodes))
        .enter().append("path")
        .attr("class", "link")
        .attr("d", diagonal);

    var node = svg.selectAll("g.node")
        .data(nodes)
        .enter().append("g")
        .attr("class", "node")
        .attr("transform", function (d) {
        return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")";
    })

    node.append("circle")
        .attr("r", 4.5).style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; }).on("click", click);

    node.append("text")
        .attr("dy", ".31em")
        .attr("text-anchor", function (d) {
        return d.x < 180 ? "start" : "end";
    })
        .attr("transform", function (d) {
        return d.x < 180 ? "translate(8)" : "rotate(180)translate(-8)";
    })
        .text(function (d) {
        return d.name;
    });
}
update(data);

function collapse(d) {
    if (d.children) {
        d._children = d.children;
        d._children.forEach(collapse);
        d.children = null;
    }
}

data.children.forEach(collapse);
update(data);

// Toggle children on click.
function click(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
  update(data);
}
}
</script>

<script>
(function() {

// Chart design based on the recommendations of Stephen Few. Implementation
// based on the work of Clint Ivy, Jamie Love, and Jason Davies.
// http://projects.instantcognition.com/protovis/bulletchart/
d3.bullet = function() {
  var orient = "left", // TODO top & bottom
      reverse = false,
      duration = 0,
      ranges = bulletRanges,
      markers = bulletMarkers,
      measures = bulletMeasures,
      width = 380,
      height = 30,
      tickFormat = null;

  // For each small multiple…
  function bullet(g) {
    g.each(function(d, i) {
      var rangez = ranges.call(this, d, i).slice().sort(d3.descending),
          markerz = markers.call(this, d, i).slice().sort(d3.descending),
          measurez = measures.call(this, d, i).slice().sort(d3.descending),
          g = d3.select(this);

      // Compute the new x-scale.
      var x1 = d3.scale.linear()
          .domain([0, Math.max(rangez[0], markerz[0], measurez[0])])
          .range(reverse ? [width, 0] : [0, width]);

      // Retrieve the old x-scale, if this is an update.
      var x0 = this.__chart__ || d3.scale.linear()
          .domain([0, Infinity])
          .range(x1.range());

      // Stash the new scale.
      this.__chart__ = x1;

      // Derive width-scales from the x-scales.
      var w0 = bulletWidth(x0),
          w1 = bulletWidth(x1);

      // Update the range rects.
      var range = g.selectAll("rect.range")
          .data(rangez);

      range.enter().append("rect")
          .attr("class", function(d, i) { return "range s" + i; })
          .attr("width", w0)
          .attr("height", height)
          .attr("x", reverse ? x0 : 0)
        .transition()
          .duration(duration)
          .attr("width", w1)
          .attr("x", reverse ? x1 : 0);

      range.transition()
          .duration(duration)
          .attr("x", reverse ? x1 : 0)
          .attr("width", w1)
          .attr("height", height);

      // Update the measure rects.
      var measure = g.selectAll("rect.measure")
          .data(measurez);

      measure.enter().append("rect")
          .attr("class", function(d, i) { return "measure s" + i; })
          .attr("width", w0)
          .attr("height", height / 3)
          .attr("x", reverse ? x0 : 0)
          .attr("y", height / 3)
        .transition()
          .duration(duration)
          .attr("width", w1)
          .attr("x", reverse ? x1 : 0);

      measure.transition()
          .duration(duration)
          .attr("width", w1)
          .attr("height", height / 3)
          .attr("x", reverse ? x1 : 0)
          .attr("y", height / 3);

      // Update the marker lines.
      var marker = g.selectAll("line.marker")
          .data(markerz);

      marker.enter().append("line")
          .attr("class", "marker")
          .attr("x1", x0)
          .attr("x2", x0)
          .attr("y1", height / 6)
          .attr("y2", height * 5 / 6)
        .transition()
          .duration(duration)
          .attr("x1", x1)
          .attr("x2", x1);

      marker.transition()
          .duration(duration)
          .attr("x1", x1)
          .attr("x2", x1)
          .attr("y1", height / 6)
          .attr("y2", height * 5 / 6);

      // Compute the tick format.
      var format = tickFormat || x1.tickFormat(8);

      // Update the tick groups.
      var tick = g.selectAll("g.tick")
          .data(x1.ticks(8), function(d) {
            return this.textContent || format(d);
          });

      // Initialize the ticks with the old scale, x0.
      var tickEnter = tick.enter().append("g")
          .attr("class", "tick")
          .attr("transform", bulletTranslate(x0))
          .style("opacity", 1e-6);

      tickEnter.append("line")
          .attr("y1", height)
          .attr("y2", height * 7 / 6);

      tickEnter.append("text")
          .attr("text-anchor", "middle")
          .attr("dy", "1em")
          .attr("y", height * 7 / 6)
          .text(format);

      // Transition the entering ticks to the new scale, x1.
      tickEnter.transition()
          .duration(duration)
          .attr("transform", bulletTranslate(x1))
          .style("opacity", 1);

      // Transition the updating ticks to the new scale, x1.
      var tickUpdate = tick.transition()
          .duration(duration)
          .attr("transform", bulletTranslate(x1))
          .style("opacity", 1);

      tickUpdate.select("line")
          .attr("y1", height)
          .attr("y2", height * 7 / 6);

      tickUpdate.select("text")
          .attr("y", height * 7 / 6);

      // Transition the exiting ticks to the new scale, x1.
      tick.exit().transition()
          .duration(duration)
          .attr("transform", bulletTranslate(x1))
          .style("opacity", 1e-6)
          .remove();
    });
    d3.timer.flush();
  }

  // left, right, top, bottom
  bullet.orient = function(x) {
    if (!arguments.length) return orient;
    orient = x;
    reverse = orient == "right" || orient == "bottom";
    return bullet;
  };

  // ranges (bad, satisfactory, good)
  bullet.ranges = function(x) {
    if (!arguments.length) return ranges;
    ranges = x;
    return bullet;
  };

  // markers (previous, goal)
  bullet.markers = function(x) {
    if (!arguments.length) return markers;
    markers = x;
    return bullet;
  };

  // measures (actual, forecast)
  bullet.measures = function(x) {
    if (!arguments.length) return measures;
    measures = x;
    return bullet;
  };

  bullet.width = function(x) {
    if (!arguments.length) return width;
    width = x;
    return bullet;
  };

  bullet.height = function(x) {
    if (!arguments.length) return height;
    height = x;
    return bullet;
  };

  bullet.tickFormat = function(x) {
    if (!arguments.length) return tickFormat;
    tickFormat = x;
    return bullet;
  };

  bullet.duration = function(x) {
    if (!arguments.length) return duration;
    duration = x;
    return bullet;
  };

  return bullet;
};

function bulletRanges(d) {
  return d.ranges;
}

function bulletMarkers(d) {
  return d.markers;
}

function bulletMeasures(d) {
  return d.measures;
}

function bulletTranslate(x) {
  return function(d) {
    return "translate(" + x(d) + ",0)";
  };
}

function bulletWidth(x) {
  var x0 = x(0);
  return function(d) {
    return Math.abs(x(d) - x0);
  };
}

})();
</script>
</head>

<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div class="offset">
<div class="col-md-4 col-xs-12">
  <div class="nav-side-menu">
      <div class="brand"><a>Sanjeevani Hospitals</a></div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

      <div class="menu-list">

          <ul id="menu-content" class="menu-content collapse out">

              <li>
                  <a href="#">
                      <i class="fa fa-dashboard fa-lg"></i> Doctor Summary
                  </a>
              </li>

              <li>
                  <a href="#">
                      <i class="fa fa-user fa-lg"></i> Name: Dr. Jason Bourne
                  </a>
              </li>
              </a>

              <li>
                  <a href="#">
                      <i class="fa fa-user fa-lg"></i> Age: 48
                  </a>
              </li>

              <li>
                  <a href="#">
                      <i class="fa fa-user fa-lg"></i> Specialization: Cardiology
                  </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fa fa-users fa-lg"></i> Phone: 669-888-6221
                  </a>
              </li>

              <li>
                  <a href="#">
                      <i class="fa fa-user fa-lg"></i> Address: Washington Square, San Jose
                  </a>
              </li>
          </ul>
      </div><br/><br/>
      <button type="button" class="btn btn-secondary"><a href="/plist">Return to Patients list</a></button>
  </div>
</div>

<div class="col-md-8 col-xs-12">

  <nav class="navbar navbar-default">
    <div id="name" style="float:left;">
        <i class="fa fa-heartbeat" style="font-size:50px;color:Red; padding: 2px;"></i>
        <h1 style="color: #005A98; margin-left: 15px;">CMPE 280 Sanjeevani</h1>

    </div>
    <div style="color: #005A98; float: right; margin: 40px;">
        <a href="/" style="color: #005A98 ; float: right;"><i class="glyphicon glyphicon-log-out" style="color: white; float: right;"></i>Logout</a>
    </div>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#page-top">Clinix</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="page-scroll">-->


                <!--</li>-->

            <!--</ul>-->
        </div>
        <!-- /.navbar-collapse -->
    </div>
  </nav>


  <br><br/>
    <div class="col-md-12">
        <div id="main">

            <!-- angular templating -->
            <!-- this is where content will be injected -->
            <div class="container dynamicTile">
                <div class="row ">
                    <div class="col-sm-2 col-xs-4">
                        <div id="tile1" class="tile">
                            <div class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                      <img src="/images/critical.png" id="show_criticality"
                                           class="img-responsive"/>
                                        <h6 style="text-align: center;">
                                            Criticality Chart
                                        </h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <div id="tile2" class="tile">
                            <div class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                      <img src="/images/age.png" id="show_age"
                                           class="img-responsive"/>
                                        <h6 style="text-align: center;">
                                            Age Demography Chart
                                        </h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <div id="tile3" class="tile">
                            <div class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                      <img src="/images/disease.png" id="show_cluster"
                                           class="img-responsive"/>
                                        <h6 style="text-align: center;">
                                            Diseases Chart
                                        </h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="age_chart">
                  <div id="container"></div>
                </div>
            </div>
            <div class="row">
              <div class="cluster_chart" id="cluster_chart"></div>
            </div>
            <div class="row">
                <div class="vaccination_chart" id="vaccination_chart"></div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
var margin = {top: 5, right: 40, bottom: 20, left: 120},
    width = 650 - margin.left - margin.right,
    height = 50 - margin.top - margin.bottom;

var chart = d3.bullet()
    .width(width)
    .height(height);

d3.json("/d3/bullet.json", function(error, data) {
  if (error) throw error;

  var svg = d3.select("#vaccination_chart").selectAll("svg")
      .data(data)
    .enter().append("svg")
      .attr("class", "bullet")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
      .call(chart);

  var title = svg.append("g")
      .style("text-anchor", "end")
      .attr("transform", "translate(-6," + height / 2 + ")");

  title.append("text")
      .attr("class", "title")
      .text(function(d) { return d.title; });

  title.append("text")
      .attr("class", "subtitle")
      .attr("dy", "1em")
      .text(function(d) { return d.subtitle; });

  });

function randomize(d) {
  if (!d.randomizer) d.randomizer = randomizer(d);
  d.ranges = d.ranges.map(d.randomizer);
  d.markers = d.markers.map(d.randomizer);
  d.measures = d.measures.map(d.randomizer);
  return d;
}

function randomizer(d) {
  var k = d3.max(d.ranges) * .2;
  return function(d) {
    return Math.max(0, d + k * (Math.random() - .5));
  };
}
</script>

<script>
$(document).ready(function(){
  $(".age_chart").hide();
  $(".cluster_chart").hide();
  $(".vaccination_chart").show();

    $("#show_age").click(function(){
      $(".cluster_chart").hide();
      $(".vaccination_chart").hide();
      $(".age_chart").show();
    });
    $("#show_cluster").click(function(){
      $(".cluster_chart").show();
      $(".vaccination_chart").hide();
      $(".age_chart").hide();
    });
    $("#show_criticality").click(function(){
      $(".cluster_chart").hide();
      $(".age_chart").hide();
      $(".vaccination_chart").show();
    });
});
</script>

</body></html>
