<!DOCTYPE html>
<html ng-app="ehrApp">
<head>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>


    <link rel="stylesheet" href="/stylesheets/css/patient_details.css" type="text/css">
    <script src="/javascripts/controllers/main.js"></script>
    <script src="/javascripts/controllers/patientDetail.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Patient Details </title>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body ng-controller="PatientDetail">
</br></br>
<div class="col-md-4 col-xs-12">
    <div class="nav-side-menu">
        <div class="brand"><a>Sanjeevani Hospitals</a></div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">

                <li>
                    <a href="#">
                        <i class="fa fa-dashboard fa-lg"></i> Patient Details
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> Name: Nishanth
                    </a>
                </li>
                </a>

                <li>
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> Age: 25
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> Height: 5' 11"
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> Weight: 150 lbs
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-users fa-lg"></i> Phone: 669-888-6221
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> Address: Washington Square, San Jose
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-8 col-xs-12">
    <div class="collapse navbar-collapse navbar-left" id="example-navbar">
        <ul class="nav navbar-nav">
            <li><a href="#allergies"> <span class="glyphicon glyphicon-grain"> </span> Allergies</a></li>
            <li><a href="#medical_history"> <span class="glyphicon glyphicon-folder-open"> </span> Medical History</a>
            </li>
            <li><a href="#test_records"> <span class="glyphicon glyphicon-heart-empty"> </span> Medical Test Records</a>
            </li>
            <li><a href="#medications"> <span class="glyphicon glyphicon-tint"> </span> Medications</a></li>
            <li><a href="#vaccination"> <span class="glyphicon glyphicon-ok-sign"> </span> Vaccination &
                Immunizations</a></li>
        </ul>
    </div>
    <br/><br/>

    <div class="col-md-12">
        <div id="main">

            <!-- angular templating -->
            <!-- this is where content will be injected -->
            <div class="container dynamicTile">
                <div class="row ">
                    <div class="col-sm-2 col-xs-4">
                        <div id="tile1" class="tile">
                            <div class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="/images/bp.png"
                                             class="img-responsive" onclick="displayBPChart()"/>
                                        <h6 style="text-align: center;">
                                            Blood Pressure Chart
                                        </h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <div id="tile2" class="tile">
                            <div class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="/images/weight.png" onclick="displayBWeightChart()"
                                             class="img-responsive"/>
                                        <h6 style="text-align: center;">
                                            Weight Chart
                                        </h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <div id="tile3" class="tile">
                            <div class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="/images/allergies.png" onclick="displayAllergyChart()"
                                             class="img-responsive"/>
                                        <h6 style="text-align: center;">
                                            Allergies Chart
                                        </h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="container" style="min-width: 813px; height: 400px; margin: 0 auto;"></div>
            </div>
            <div class="row">
                <div id="container2" style="min-width: 813px; height: 400px; margin: 0 auto; display: none"></div>
            </div>
            <div class="row">
                <div id="container3" style="min-width: 813px; height: 400px; margin: 0 auto; display: none"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>

<script>
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Monthly Systolic and Diastolic Blood Pressure'
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Blood Pressure in mm HG'
                },
                labels: {
                    formatter: function () {
                        return this.value + '°';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                name: 'Systolic mm Hg (upper #)',
                marker: {
                    symbol: 'square'
                },
                data: [120, 118, 117, 115, 116, 117, 119, {
                    y: 118
                }, 116, 115, 114, 117]

            }, {
                name: 'Diastolic mm Hg (lower #)',
                marker: {
                    symbol: 'diamond'
                },
                data: [{
                    y: 75
                }, 74, 72, 79, 71, 76, 75, 73, 77, 78, 71, 79]
            }]
        });
    });
</script>
<script>
    $(function () {
        $('#container2').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Monthly Body Wight'
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Body Weight in KG'
                },
                labels: {
                    formatter: function () {
                        return this.value + '°';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                name: 'Body Weight in KG',
                marker: {
                    symbol: 'square'
                },
                data: [75, 74.5, 75, 74, 74, 73, 73.5, {
                    y: 74
                }, 75, 74, 75, 75]
            }]
        });
    });
</script>
<script>
    $(function () {
        $('#container3').highcharts({
            chart: {
                type: 'column',
                options3d: {
                    enabled: true,
                    alpha: 10,
                    beta: 25,
                    depth: 70
                }
            },
            title: {
                text: 'Allergy Severity for the Patient'
            },
            subtitle: {
                text: ''
            },
            plotOptions: {
                column: {
                    depth: 25
                }
            },
            xAxis: {
                categories: Highcharts.getOptions().lang.shortMonths
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            series: [{
                name: 'Allergy Severity',
                data: [null, null, null, 4, 3, 2, null, null, null, 1, null, null]
            }]
        });
    });
</script>

<script>
    function displayBPChart() {
        document.getElementById('container2').style.display = 'none';
        document.getElementById('container3').style.display = 'none';
        document.getElementById('container').style.display = 'block';
    }

    function displayBWeightChart(){
        document.getElementById('container').style.display = 'none';
        document.getElementById('container3').style.display = 'none';
        document.getElementById('container2').style.display = 'block';
    }

    function  displayAllergyChart(){
        document.getElementById('container').style.display = 'none';
        document.getElementById('container2').style.display = 'none';
        document.getElementById('container3').style.display = 'block';
    }
</script>
</body>
</html>
