<!DOCTYPE html>
<html ng-app="ehrApp">
<head>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>


    <link rel="stylesheet" href="/stylesheets/css/patient_details.css" type="text/css">
    <script src="/javascripts/controllers/main.js"></script>
    <script src="/javascripts/controllers/patientDetail.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Patient Details </title>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body ng-controller="PatientDetail">
  </br></br>
  <div class="col-md-4 col-xs-12">
    <div class="nav-side-menu">
      <div class="brand"> <a>Sanjeevani Hospitals</a></div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

          <div class="menu-list">

              <ul id="menu-content" class="menu-content collapse out">

                  <li>
                    <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> Patient Details
                    </a>
                  </li>

                  <li>
                   <a href="#">
                   <i class="fa fa-user fa-lg"></i> Name:  Nishanth
                 </li>
                   </a>

                  <li>
                   <a href="#">
                   <i class="fa fa-user fa-lg"></i> Age: 25
                   </a>
                   </li>

                   <li>
                    <a href="#">
                    <i class="fa fa-user fa-lg"></i> Height: 5' 11"
                    </a>
                    </li>

                   <li>
                    <a href="#">
                    <i class="fa fa-user fa-lg"></i> Weight: 150 lbs
                    </a>
                    </li>

                   <li>
                    <a href="#">
                    <i class="fa fa-users fa-lg"></i> Phone: 669-888-6221
                    </a>
                  </li>

                  <li>
                   <a href="#">
                   <i class="fa fa-user fa-lg"></i> Address: Washington Square, San Jose
                   </a>
                   </li>
              </ul>
       </div>
     </div>
  </div>

  <div class="col-md-8 col-xs-12">
         <div class="collapse navbar-collapse navbar-left" id="example-navbar">
          <ul class="nav navbar-nav">
                      <li><a href="#allergies"> <span class="glyphicon glyphicon-grain"> </span>  Allergies</a></li>
                      <li><a href="#medical_history"> <span class="glyphicon glyphicon-folder-open"> </span>  Medical History</a></li>
                      <li><a href="#test_records"> <span class="glyphicon glyphicon-heart-empty"> </span>  Medical Test Records</a></li>
                      <li><a href="#medications"> <span class="glyphicon glyphicon-tint"> </span>  Medications</a></li>
                      <li><a href="#vaccination"> <span class="glyphicon glyphicon-ok-sign"> </span>  Vaccination & Immunizations</a></li>
              </ul>
            </div>
          <br/><br/>

        <div class="col-md-4">
        <div id="main">

        <!-- angular templating -->
    		<!-- this is where content will be injected -->
        <div ng-view>
        </div>
      </div>
      </div>
  </div>
</body>
</html>
