<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Details</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<!--`uer_id` int(11) DEFAULT NULL,-->
<!--`hight` double(7,2) DEFAULT NULL,-->
<!--`weight` double(7,2) DEFAULT NULL,-->
<!--`address` varchar(1024) DEFAULT NULL,-->
<!--`phone` varchar(45) DEFAULT NULL,-->
<!--`emergency_contact` varchar(45) DEFAULT NULL,-->
<!--`relationship` varchar(40) DEFAULT NULL,-->
<!--`blood_type` varchar(30) DEFAULT NULL,-->
<!--`gender` varchar(20) DEFAULT NULL,-->
<!--`ethinicity` varchar(30) DEFAULT NULL,-->
<!--`languagetype` varchar(50) DEFAULT NULL,-->
<!--`Birthday` varchar(100) DEFAULT NULL,-->
<!--`profileIds` int(11) NOT NULL AUTO_INCREMENT,-->
<!--`ImageLocation` varchar(1024) DEFAULT NULL,-->

<header>
</header>
</body>
</html>