<html>
<meta charset="utf-8">
<meta name="description" content="CMPE280Sanjeevani : Chart based EHR data representation">
<meta name="keywords" content="CMPE280Sanjeevani, Sanjeevani, EHR data, CMPE 280, CMPE280, SJSU">
<meta name="author" content="Team Ciphers : Maithili Gole, Nishanth PrabhuSwamy, Sameer Ranade, Sowmya Prakash">
<head>
  <title>CMPE280Sanjeevani</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
  <style type="text/css">
    .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
h1{
    text-align: center;
    color: #005A98;
}
  </style>

  <title> Cluster Layout</title>





<script type="text/javascript">
window.onload=function(){
var radius = 960 / 2;

var cluster = d3.layout.cluster()
    .size([360, radius - 120]);

var diagonal = d3.svg.diagonal.radial()
    .projection(function (d) {
    return [d.y, d.x / 180 * Math.PI];
});

var svg = d3.select("body").append("svg")
    .attr("width", radius * 2)
    .attr("height", radius * 2)
    .append("g")
    .attr("transform", "translate(" + radius + "," + radius + ")");
var data = {
    "name": "diseases",
        "children": [{
        "name": "Common Cold",
            "children": [{
            "name": "Scratchy or sore throat",
            }, {
            "name": "Sneezing",
            }, {
            "name": "Mucus draining from your nose into your throat",
        }]
    }, {
        "name": "Anemia"
    }, {
        "name": "Hepatitis B",
            "children": [{
            "name": "Abdominal pain",
                "size": 1759
        }, {
            "name": "Fever",
                "size": 2165
        }, {
            "name": "Joint pain",
                "size": 586
        }, {
            "name": "Weakness and fatigue",
                "size": 3331
        }, {
            "name": "Yellowing of your skin and the whites of your eyes (jaundice)",
                "size": 772
        }]
    }, {
        "name": "Lung Cancer",
            "children": [{
            "name": "Coughing up blood or rust-colored sputum (spit or phlegm)",
                "size": 8833
        }, {
            "name": "Weight loss and loss of appetite",
                "size": 1732
        }, {
            "name": "Infections such as bronchitis and pneumonia that don’t go away or keep coming back",
                "size": 3623
        }, {
            "name": "Shortness of breath",
                "size": 10066
        }]
    }, {
        "name": "Diarrhea   ",
            "children": [{
            "name": "Signs of dehydration",
                "size": 4116
        }]
    }, {
        "name": "Strep Throat",
            "children": [{
            "name": "Painful swallowing",
                "size": 1124
        }, {
            "name": "Swollen, tender lymph nodes in your neck",
                "size": 1876
        }, {
            "name": "Headache",
                "size": 1101
        }]
    }, {
        "name": "Heart Disease",
            "children": [{
            "name": "A faster heartbeat",
                "size": 2105
        }, {
            "name": "Shortness of breath",
                "size": 1316
        }, {
            "name": "Nausea",
                "size": 3151
        }, {
            "name": "Sweating",
                "size": 3770
        }]
    }, {
        "name": "Sexually Transmitted Diseases",
            "children": [{
            "name": "Fever and flu-like symptoms",
                "size": 5559
        }, {
            "name": "Swollen lymph nodes",
                "size": 19118
        }, {
            "name": "Genital itching, burning, or discomfort",
                "size": 6887
        }]
    }, {
        "name": "Type 2 Diabetes",
            "children": [{
            "name": "Increased thirst and frequent urination"
        }, {
            "name": "Blurred vision"
        }, {
            "name": "Increased hunger",
        }, {
            "name": "Weight loss",
                "size": 16540
        }]
    }]
};

function update(root) {
    var nodes = cluster.nodes(root);
    svg.selectAll("path.link").remove();
    svg.selectAll("g.node").remove();
    var link = svg.selectAll("path.link")
        .data(cluster.links(nodes))
        .enter().append("path")
        .attr("class", "link")
        .attr("d", diagonal);

    var node = svg.selectAll("g.node")
        .data(nodes)
        .enter().append("g")
        .attr("class", "node")
        .attr("transform", function (d) {
        return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")";
    })

    node.append("circle")
        .attr("r", 4.5).style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; }).on("click", click);

    node.append("text")
        .attr("dy", ".31em")
        .attr("text-anchor", function (d) {
        return d.x < 180 ? "start" : "end";
    })
        .attr("transform", function (d) {
        return d.x < 180 ? "translate(8)" : "rotate(180)translate(-8)";
    })
        .text(function (d) {
        return d.name;
    });
}
update(data);

function collapse(d) {
    if (d.children) {
        d._children = d.children;
        d._children.forEach(collapse);
        d.children = null;
    }
}

data.children.forEach(collapse);
update(data);

// Toggle children on click.
function click(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
  update(data);
}
}

</script>
</head>
<body>
  <h1> CMPE280Sanjeevani </h1>
    <h4> Most Common Diagnosis</h4>
</body>
</html>
