<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="description" content="CMPE280Sanjeevani : Chart based EHR data representation">
<meta name="keywords" content="CMPE280Sanjeevani, Sanjeevani, EHR data, CMPE 280, CMPE280, SJSU">
<meta name="author" content="Team Ciphers : Maithili Gole, Nishanth PrabhuSwamy, Sameer Ranade, Sowmya Prakash">
<head>
    <title>CMPE280Sanjeevani</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">

    <script type="text/javascript">
        function preloader() {
            document.getElementById("loading").style.display = "none";
            document.getElementById("content").style.display = "block";
        }//preloader
        window.onload = preloader;
    </script>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/animate.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/css/style.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" data-bablic="5733c6f443e0b3bf17b4c1ea" data-bablic-m="['1463011073','en','en',1,['hi'],0,0,0,0,0,0,0,0,[],'cmpe280sanjeevani.com',[],['_v',2]]" src="//cdn2.bablic.com/js/bablic.3.3.js"></script>
</head>

<body id="page-top" class="index" data-spy="scroll" data-target=".navbar-fixed-top"
      style="background-image: url('/images/bg7.jpg');background-size: 100% 720px;background-repeat: no-repeat;">

<div id="loading"></div>

<div id="content">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink text-center" style="font-family:Titillium Web,Helvetica Neue,sans-serif;">
        <div id="name1" style="float: left;">
            <a href="/">
            <i class="fa fa-heartbeat" style="font-size:50px;color:Red; padding: 5px;"></i>
            <h1 style="color: white; margin-left: 15px;">Sanjeevani</h1></a>
        </div>

        <div style="color: white; float: right; margin: 40px;">
            <a href="/login" style="color: white; float: right;"><i class="glyphicon glyphicon-log-in" style="color: white; float: right;"></i>Login</a>
        </div>

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container" style="padding-top: 80px;width:900px">
        <div class="row">
            <div class="col-md-4">
                <h3 style="font-weight: bold">Signup </h3>
                <div class="login-or">

                </div>
                </div>
            </div>
        <div class="row" style="margin-top: 2px">
            <div class="col-md-4">
                <form role="form" style="font-weight: bold" id ="signupForm" name="signupForm" method="post" action="/login">
                    <div class=" form-group" >
                        <label id="saveResult" ></label><br>
                        <label for="name">Name </label>
                        <input type="text" class="form-control" id="name" required style="width: 100%;" >
                        <label for="user_Name">User Name </label>
                        <input type="text" class="form-control" id="user_Name" required style="width: 100%;">
                        <label for="user_type">User Type </label>
                        <input type="text" class="form-control" id="user_type" required style="width: 100%;">
                        <label for="user_description">Description </label>
                        <input type="text" class="form-control" id="user_description" required style="width: 100%;">
                        <label for="user_pass">Password </label>
                        <input type="password" class="form-control" id="user_pass" required style="width: 100%;">
                        <label for="user_pass">Confirm Password </label>
                        <input type="password" class="form-control" id="confirm_pass" required
                               autocomplete="false" onkeyup="checkConfirmPassword(this.value)" style="width: 100%;">
                        <label id="lblPassword" style="float:left"></label>

                        <button type="button" id="btnSignup" class="btn btn btn-primary" style="horiz-align: center; text-align: center;color: black;">
                            Sign Up
                        </button>

                    </div>
                </form>
            </div>
            </div>
        </div>
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2016 - Ciphers
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
<script src="/javascripts/signup.js"></script>
</html>
